.m {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5rem;
    width: 100%;
    min-height: calc(100% - 5rem);
    background-color: rgb(178, 184, 172);
}


.m_table {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 2rem 1fr;
    font-size: 1.1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    font-family: mono;
}

.m_table_columns {
    font-weight: bold;
}

.m_table_columns_title {
    background: var(--dark-green);
    color: var(--white)
}

.m_table_columns, 
.m_table_orders_order {
    display: grid;
    height: 2rem;
    grid-template-columns: 
    .6fr .4fr 0.5fr 0.5fr .3fr .4fr 2.5rem;
}

.m_table_columns_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    overflow: hidden;
}

.m_table_orders {
    display: grid;
    row-gap: 1px;
    grid-template-rows: repeat(auto-fill, 2rem);
}

.m_table_orders_order {
    background-color: whitesmoke;
}

.m_table_orders_order:hover {
    background-color: rgb(224, 224, 224);
}

.m_table_orders_order_field {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #00000000;
    border: none;
    font-family: mono;
    font-size: 1.1rem;
    padding: 0px 5px;
}

.m_table_orders_order_field:focus {
    outline: none;
}

@media screen and (width < 780px) {

    .m_table_columns_title--phone {
        color:rgba(255, 255, 255, 0);
        transition: color 700ms;
    }

    .m_table_columns_title--phone::before {
        position: absolute;
        color: var(--white);
        content: 'Tel';
    }
}